.flex{
    display: flex;
    gap: 60px;
}
.label-holder{
    margin-bottom: 5px;
    margin-top: 20px;
}

.outer{
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 40px;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.1);
    width:100%
}

input{
    width:300px;
    height: 25px;
    border-radius: 10px;
}

label{
    font-size: 17px;
}

.formText{
    font-size: 30px;
    font-weight: bold;
}

button#submit{
    margin-top: 40px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 10px;
    border:0;
    background-color: #B5967E;
    color: white;
    
}